:host {
    background: inherit;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    place-content: center;
    place-items: center;
    background: inherit;
}

.glass-card {
    background: #f0f0f0;
}

.action {
    flex: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}